# Python
backend/.env
backend/.env.*
backend/__pycache__/
backend/**/*.pyc

# Node / Vite
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/.vercel

# Geral
.DS_Store
Thumbs.db
